<section class="support-section" id="support">
  <div class="container flexbox">
    <div class="flex-half">
      <h2>Help us on our mission</h2>
      <p class="lead">From organising fundraising events to project donations, you're helping us get clean water to those who need it most.</p>
    </div>
    <div class="flex-half text-center">
      <a class="button icon-button big-button" href="/support">
        <span>Support Be Water</span>
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
  <div class="container flexbox image-strip">
    <div class="flex-third">
      <img src="/assets/img/Tanzania/tanzania-project1.jpeg" alt="Be Water Tanzania" />
    </div>
    <div class="flex-third">
      <img src="/assets/img/Cameroon/cameroon-project1.jpeg" alt="Be Water Cameroon" />
    </div>
    <div class="flex-third">
      <img src="/assets/img/Morocco/morocco-project6.jpeg" alt="Be Water Morocco" />
    </div>
  </div>
</section>

<footer>
  <div class="container footer-inner">

    <div class="brand">
      <a href="https://sjam.studio">Samuel Mead</a><span><br class="phones-only" /> <span class="exclude-on-mobile">&mdash;</span> Web developer, copywriter </span>
    </div>

  </div>
</footer>
