<header class="site-header">

  <div class="navbar-inner">

    <div class="flex-third nav-links">
      <ul class="list-inline">
        <li><a href="/impact">Impact Report</a></li>
        <li><a href="/impact#projects">Projects</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>

    <div class="flex-third brand">
      <a href="/"><img src="/assets/img/logo.png" /></a>
    </div>

    <div class="flex-third nav-cta">
      <a class="button" href="/support">Support Us</a>
    </div>

  </div>

  <div class="main-navigation-container">

    <button class="menu-toggle">
      <span class="hamburger-button-text exclude-on-mobile">Menu</span>
      <div class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </button>

    <div class="main-navigation">
      <nav>
        <p>You'll be wanting a menu of some kind!</p>
        <ul>
          <li><a href="#">Probably with links</a> -> </li>
          <li><a href="#">And stuff</a> -> </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
