<header class="site-header">

  <div class="navbar-inner">

    <button class="menu-toggle shadow-small">
      <span class="hamburger-button-text">Menu</span>
      <div class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </button>

    <div class="nav-links">

      <ul class="">
        <li><a href="/impact">Impact Report</a></li>
        <li><a href="/impact#projects">Projects</a></li>
        <li><a href="/about">About</a></li>
      </ul>

    </div>

    <div class="flex-third brand">
      <a href="/"><img src="/assets/img/logo.png" /></a>
    </div>

    <div class="flex-third nav-cta">
      <a class="button" href="/support">Support Us</a>
    </div>

  </div>

</header>
