// =======================================
//  Footer
// =======================================

.support-section {
  padding: 6rem 0;
  background: $brand-lightest;
  background: linear-gradient(to bottom, rgba(196, 221, 237, 0.95), rgba(196, 221, 237, 1)), url('/assets/img/background-morocco.jpeg');

  .flexbox {
    align-items: center;
  }

  .image-strip {
    margin-top: 4rem;

    .flex-third {
      @extend .shadow-small;
      background: #fff;
      border-radius: 5px;
      padding: 5px;

      img {
        margin-bottom: 0;
      }
    }
  }
}

footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  background: $alt-color;
  color: #f7ffde; // Lemon?

  .flexbox {
    flex-direction: column-reverse;

    @include for-tablet-portrait-up {
      flex-direction: row;
    };
  }

  .brand {
    margin-bottom: 2.5rem;

    a {
      color: #f7ffde; // Lemon?
    }

    span {
      color: #b1b1b1;
    }
  }

  .social-icons {
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include for-tablet-portrait-up {
      margin-top: 0;

      li:first-child {
        margin-left: 0;
      }
    };

    a {
      color: #f7ffde;

      &:hover {
        color: $alt-lighter;
      }

      i {
        font-size: 2.5rem;
      }
    }
  }

  .nav-links > ul > li {
    a {
      background: transparent;
      color: #f7ffde;
      border: 1px solid #f7ffde;

      &:hover {
        color: #f7ffde;
      }
    }
  }

  .last-word {
    margin: 3rem auto;
    text-align: center;
  }
}
