// ------------
// Global styles
// ------------
.container {
  position: relative;
  max-width: $column-width;
  margin: 0 auto;
  padding: 0 1rem;
  @include for-desktop-up {
    padding: 0;
  };
}

.flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;

  @include for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  };

  .flex-half {
    flex: 0 0 100%;

    @include for-tablet-landscape-up {
      flex: 1 1 34%;
      max-width: 50%;
    };
  }

  .flex-third {
    flex: 0 0 100%;

    @include for-tablet-landscape-up {
      flex: 1 1 26%;
      max-width: 33%;
    };
  }
}

.lead {
  font-size: 1.2em;
}

.big-lead {
  max-width: 42rem;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.big-link {
  a {
    font-weight: 400;
    text-decoration: underline;
  }

  i {
    margin-left: 5px;
  }
}

.button {
  display: inline-block;
  padding: 0.7125rem 1.25rem;
  background: $brand-lighter;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s ease;
  margin-top: 0.5rem;

  &:hover {
    color: #fff;
    text-decoration: none;
    background: $brand-light;
  }
}

.icon-button {
  padding-right: 1rem;

  i {
    margin-left: 7px;
  }
}

.big-button {
  padding: 1.2rem 2rem;
  font-size: 1.2rem;

  i {
    margin-left: 12px;
  }
}

.subheading-before {
  // @extend .shadow-small;
  display: inline-block;
  margin-bottom: 1rem;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-lineheight;
  border-radius: 5px;
  background: #f7ffde;
  font-size: $small;
  padding: 0.3rem 0.6rem;
  border: $border;
}

.project-list {
  @extend .flexbox;
  flex-wrap: wrap;
  align-items: stretch;
  list-style-type: none;
  max-width: 100%;
  margin: 1.5rem 0 0 0;
  padding: 0;
  gap: 2rem;

  .project-tile {
    flex: 1 1 100%;
    display: inline-block;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow:
      0.2px 0.4px 0.7px -3px rgba(0, 0, 0, 0.016),
      0.4px 1px 1.7px -3px rgba(0, 0, 0, 0.022),
      0.9px 2.1px 3.5px -3px rgba(0, 0, 0, 0.028),
      1.8px 4.4px 7.3px -3px rgba(0, 0, 0, 0.034),
      5px 12px 20px -3px rgba(0, 0, 0, 0.05)
    ;

    @include for-tablet-portrait-up {
      flex: 1 1 45%;
    };

    @include for-tablet-landscape-up {
      flex: 1 1 30%;
    };

    a {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-decoration: none;
      transition: 0.4s ease;
    }

    .project-image {
      width: 100%;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .project-meta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #fff;
      padding: 1.5rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      .project-stats,
      .project-title {
        @extend .flexbox;
        justify-content: space-between;
        align-items: center;
      }

      .project-stats {
        font-size: 15px;
        margin-bottom: 10px;
      }

      .snippet {
        flex-grow: 1;

        p {
          color: #6e6e73;
          margin-bottom: 1rem;

          @include for-tablet-portrait-up {
            font-size: 0.875rem;
          };
        }
      }

      h3 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin: 0;
      }

      i {

        color: #6e6e73;
      }
    }
  }

  .portfolio-description {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    padding: 1.5rem;

    p {
      line-height: 1.8;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }
} // End .project-list

// =======================================
//  Global helpers
// =======================================
.phones-only {
  @include for-tablet-portrait-up {
    display: none;
  };
}

.exclude-on-mobile {
  display: none;

  @include for-tablet-portrait-up {
    display: inline-block;
  };
}

.small {
  font-size: $small;
}

.monospace {
  font-family: $monospace-font-family;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.list-unstyled {
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;
  li {
    display: inline-block;
    margin-right: 0.625rem;
    margin-bottom: 0;
  }
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.highlighted {
  padding: 3px 5px;
  background: $alt-lightest;
}

.shadow-small {
  box-shadow:
    0.2px 0.4px 0.7px -3px rgba(0, 0, 0, 0.016),
    0.4px 1px 1.7px -3px rgba(0, 0, 0, 0.022),
    0.9px 2.1px 3.5px -3px rgba(0, 0, 0, 0.028),
    1.8px 4.4px 7.3px -3px rgba(0, 0, 0, 0.034),
    5px 12px 20px -3px rgba(0, 0, 0, 0.05)
  ;
}
